.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.timelineContainer {
  padding-top: 7vh;
}

.timeline {
  width: 100vh;
  height: 30px;
  list-style: none;
  text-align: justify;
  margin: 100px auto;
  background: linear-gradient(
    to bottom,
    /* rgba(255, 255, 255, 0) 0%, */ rgba(255, 255, 255, 0) 45%,
    rgb(255, 255, 255) 51%,
    rgba(255, 254, 254, 0) 57%,
    rgba(255, 255, 255, 0) 100%
  );
}
.timeline:after {
  display: inline-block;
  content: "";
  width: 100%;
}

.timeline li {
  position: relative;
  display: inline-block;
  justify-items: center;
  width: 12px;
  height: 10px;
  background: #feffff;
  text-align: center;
  line-height: 1.2;
  border-radius: 60%;
  margin-right: 62px;
  margin-left: 62px;
  margin-top: 10px;
}

.tooltip {
  justify-content: center;
  top: -130px;
  min-width: 70px;
  width: fit-content;
  min-height: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 10px;
  padding: 0 auto;
  position: relative;
  border-radius: 100px;
}

.buttonContainer {
  position: fixed;
  top: 10px; /* Adjust the distance from the top edge */
  left: 10px; /* Adjust the distance from the left edge */
  z-index: 9999; /* Set z-index to ensure the button appears on top of other elements */
  width: 91px;
  height: 48px;
  padding: 0 24px;
  background: #5fa9e8;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}

.buttonText {
  color: white;
  font-size: 18px;
  font-family: "Inter";
  font-weight: 600;
  line-height: 28px;
  word-wrap: break-word;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 674px;
  height: 130px;
  padding-top: 5vh;
  text-align: center;
  color: #062d46;
  font-size: 40px;
  font-family: "Merriweather";
  font-weight: 700;
  word-wrap: break-word;
  margin: 0 auto;
}

.summaryTitle {
  width: 674px;
  height: 50px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Merriweather;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px auto;
  margin-top: 20px;
}

.summaryContainer {
  width: 800px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.451);
  position: absolute;
  margin-top: 90vh;
}

.newsOutletText {
  width: 110px;
  height: 43px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Merriweather;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  margin-left: -100%;
  margin-top: 25%;
}

.closeButtonContainer {
  position: absolute;
  top: 10px; /* Distance from the top edge of the summary container */
  right: 10px; /* Distance from the right edge of the summary container */
  z-index: 9999; /* Set z-index to ensure the button appears on top of other elements */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textNewsContainer {
  display: flex;
  justify-content: space-around; /* Adjust this property to change the spacing between textNews items */
  align-items: center; /* Optional: Align items vertically in the middle */
  margin-bottom: 10px; /* Optional: Add margin-bottom to create space between the textNews items and the summary */
}

.newsOutletContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px; /* Adjust the spacing between news outlets */
}

.newsOutletImage {
  width: 120px; /* Set the width of the image container */
  height: 120px; /* Set the height of the image container */
  overflow: hidden; /* Ensure the image is clipped within the container */
  border-radius: 50%; /* Make the image container circular */
  margin-bottom: 0; /* Adjust the spacing between the image and text */
  margin-left: -100%;
}

.image {
  width: 100%; /* Make sure the image takes 100% width of the container */
  height: 100%; /* Make sure the image takes 100% height of the container */
  object-fit: cover; /* Ensure the image covers the container without stretching */
}

.summaryText {
  padding-left: 5%;
  padding-right: 5%;
}
