#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the section height to fill the viewport height */
}

.title {
  text-align: center;
  font-family: "Merriweather Sans";
  font-size: 70px;
  font-weight: 700;
  position: fixed;
  top: 30%; /* Adjust the percentage value to your preference */
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.subtitle {
  color: #000000;
  font-family: "Lato";
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: fixed;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 825px;
}

.input {
  justify-content: center;
  text-align: center;
  margin-top: 375px;
  left: 50%;
}

.inputBox {
  text-align: center;
  padding-left: 10px;
  width: 340px;
  height: 35px;
  border: none;
  background: none;
  top: 40%;
}

.inputBox:focus {
  outline: none;
}

.inputBtn {
  border: none;
  background: none;
  position: absolute;
  margin-top: 5px;
}

.inputBoxContainer {
  background: rgba(255, 255, 255, 0.55);
  border-radius: 30px;
  border: 1px white solid;
  width: 400px;
  height: 35px;
  margin: auto;
}

.inputImg {
  height: 20px;
  width: 20px;
}

.bg {
  height: 706px;
  left: 0;
  top: 0;
  width: 1197px;
  transform: translate(10%);
}

section  {
  background-image: url( "../../assets/bg.png");
  height: 100vh;
  background-size: cover;
}

element.style {
  top: 0;
  position: fixed;
}

